@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
html{
   
    font-size: 65.6%;
}
:root{
    --bg-color:#;
    --snd-bg-color:#262840;
    --text-color:#fff;
    --main-color:#59b2f4;
    /* #59b2f4*/
}
[data-theme='light']{
     --bg-color:#fff;
    --snd-bg-color:#e8f0f9;
    --text-color:#191f36;
    --main-color:#59b2f4;
}
/*----------------home styling ---------------*/

.home-wrap{
    @apply w-[100vw] flex justify-center align-middle
}
.home .img{
    @apply w-[65vw] h-2
}
section{
    width: 100%;
    min-height: 100vh;
    padding:9rem 10%;
}

.btn
{
    @apply inline-block px-5 py-2 text-2xl bg-blue-800 text-cyan-50 rounded-full z-40 shadow-2xl ;
   
}
.fields{
   @apply border-1 w-2xl px-6 py-6 rounded-lg h-[3rem]  text-[1.4rem]
   /* md:w-xl */
}


